@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;500&display=swap');

*{
    font-family: 'Sarabun', sans-serif;
    box-sizing: border-box;
}
.input{
    text-align: center;
    font-weight: bold;
}
.inputt{
    text-align: center;    
}
.groupResult{    
    border-radius: 3px;
    background-color: pink;
    padding: 7px;
}
#output1{
    color: blue;
}
.borderOfBox{
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px;
    border-width: 1px;   
    padding: 2px; 
    margin-bottom: 3px;
    text-align: center;    
}
.bg-lightblue{    
    background-color: lightblue;
}
